---
import archive from '../data/archive'
import Layout  from '../layouts/Layout.astro'

export function getStaticPaths() {
  return archive.map(v => ({
    params: {
      id: v.i + ''
    },
    props: {
      title:   v.title,
      image:   v.image,
      dt:      v.dt,
      at:      v.at,
      content: v.content
    }
  }))
}
---

<Layout
  title={Astro.props.title}
  image={Astro.props.image}
  desc={'Check out issue #' + Astro.params.id + ' of Gamedev.js Weekly — the free, weekly newsletter about web game development.'}
>
  <main id=i class=l-c>
    <header id=p-h>
      <small>
        <time datetime={Astro.props.dt}>{Astro.props.at}</time>
        — issue #{Astro.params.id}
      </small>
      <h1>{Astro.props.title}</h1>
    </header>
    <Fragment set:html={Astro.props.content} />
  </main>
</Layout>