---
import archive from '../data/archive'
import Layout  from '../layouts/Layout.astro'
---

<Layout title={'Archive'}>
  <main id=m-i class=l-c>
    <header id=p-h>
      <small>
        Weekly issues
      </small>
      <h1>Archive</h1>
    </header>
    { archive.map(v =>
      <a href={v.i}>
        <time datetime={v.dt}>{v.at}</time>
        <i>{v.i}</i>
        <b>{v.title}</b>
      </a>
    ) }
  </main>
</Layout>